body {
  height: 100%;
  position: relative;
}

.brandLogo {
  font-family: "Cinzel", serif;
  color: rgb(188, 100, 100);
  margin-bottom: 25px;
  font-size: 86px;
}

.brandLogoMiniDiv {
  margin-left: 33.5vw;
}

.brandLogoMini {
  font-family: "Cinzel", serif;
  color: rgb(188, 100, 100);
  font-size: 27px;
  margin-bottom: -1000px;
}

#randomViewContainer {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.natiFooter {
  display: inline-block;
  size: 33%;
  text-align: center;
}

.natiHolder {
  box-sizing: content-box;

  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 1fr 2fr 2fr 1fr;

  row-gap: 5px;

  color: white;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.cartItemContainer {
  background-color: rgba(233, 232, 231, 0.65);
  margin: 7% 0% 10% 17%;
  max-width: 58vw;
}

.singleItemInCart {
  box-sizing: content-box;
  padding: 1rem;

  border: 2px solid #c47464;

  color: #000;

  font-size: 16px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.singleItemInCart div {
  display: inline-block;
}

.singleItemText {
  margin-left: 2vw;
}

.singleItemInCart img {
  width: 80px;
  height: 120px;
}

#cosa {
  background-color: indigo;
}

#alterQuant button {
  font-family: Andale Mono, monospace;
  color: #a86b6b;
  display: inline-block;
}
