body {
  height: 100%;
  position: relative;
}

#randomViewContainer {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.natiFooter {
  display: inline-block;
  size: 33%;
  text-align: center;
}

.natiHolder {
  box-sizing: content-box;

  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 1fr 2fr 2fr 1fr;

  row-gap: 5px;

  color: white;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100vw;
}
