body {
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: Andale Mono, monospace;
}

#loginButton {
  margin-left: 15px;
}

.jumbotron {
  background-color: #e1e1e1;
  background-image: url("../images/diamondBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  padding-bottom: 43px;
  padding-top: 43px;
}
#loginButton {
  color: #a86b6b;
}
#registerButton {
  color: #a86b6b;
}

.modal-title {
  color: #a86b6b;
}

.card-title {
  color: #797979;
}

#cartButton {
  border: solid 1px rgba(0, 0, 0, 0.2);
}

#helloUser {
  margin-right: 15px;
}

#productCard {
  margin: 2px;
  border-radius: 0px;
  border-color: white;
}

.card-img-top {
  border-radius: 0px;
}

#productName {
  font-weight: bold;
  justify-content: center;
}
/* #productPrice {
  font-size: 50px;
} */

#prodBody {
  padding-bottom: 15px;
  border: 1px solid #bebcbc9e;
  border-radius: 0px;
  justify-content: center;
}

.card-title {
  padding: 2px;
  margin: 10px;
}

#plusBtn {
  text-align: center;
}
